<!-- Society Bill -->
<%- include('partials/header') %>

<div style="padding:4%; padding-top: 0%; font-family:sans-serif; font-size:15px;">
  <div style="display: flex; justify-content: center ">
    <col-4>
        <button id="download-btn" class="btn btn-info btn-md text-uppercase" style="border-radius:3rem; max-width:180px; ">
          Download Bill
        </button>
        <% if(resident.isAdmin){ %>
        <a href="/editBill" class="btn btn-primary btn-md text-uppercase" style="border-radius:3rem; max-width:180px; ">
          Edit Bill
        </a>   
        <% } %>
      </col-4>
  </div>
  <br>
  <div id="print-content">
    <table class="bill-header">
      <tr>
        <td>
          <p><%= society.societyName %></p>
          <p><%= society.societyAddress.address %>, <%= society.societyAddress.city %>, 
            <%= society.societyAddress.district %>-<%= society.societyAddress.postalCode %>
          </p>
        </td>
      </tr>
    </table>
    <table style="border: 1px solid #ddd;" class="bill-details">
      <tr>
        <td>Bill No: <b>1310</b></td>
        <td style="padding-left: 10%;">For: <b><%= monthName %>, <%= year %></b></td>
        <td style="text-align:center;">Date: <b><%= date %></b></td>
      </tr>
      <tr>
        <td>Name: <b><%= resident.firstName %> <%= resident.lastName %></b></td>
        <td style="padding-left: 13%;">Flat: <b><%= resident.flatNumber %></b></td>
        <td></td>
      </tr>
    </table>
    <table class="bill-content">
      <tr>
        <th>Sr. No.</th>
        <th>Particulars</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Society Charges</td>
        <td><%= society.maintenanceBill.societyCharges %></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Repairs and Maintenance</td>
        <td><%= society.maintenanceBill.repairsAndMaintenance %></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Sinking Fund</td>
        <td><%= society.maintenanceBill.sinkingFund %></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Water Charges</td>
        <td><%= society.maintenanceBill.waterCharges %></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Insurance Charges</td>
        <td><%= society.maintenanceBill.insuranceCharges %></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Parking Charges</td>
        <td><%= society.maintenanceBill.parkingCharges %></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Credit Balance</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Accumulated Interest</td>
        <td></td>
      </tr>
      <tfoot>
        <tr>
          <td></td>
          <td>Total Amount Due</td>
          <td><%= totalAmount %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <br>
</div>

<%- include('partials/footer') %>