<!-- Update Emergency contacts -->
<%- include('partials/header') %>

<div class="container center">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10 center" style="max-width: 600px;float: initial;">
      <div class="card card-profile my-6">
        <div class="card-body" style="padding:5%; margin:5% 0; padding-top:3%;">
          <h2 style="background-color:rgb(51, 51, 51); padding:8px; color:white; text-align:center; border-radius:1rem; font-size: 20px;">
            Edit Emergency Contacts
          </h2>
          <form class="form-edit" action="/editContacts" method="POST">
            <div class=row style="margin: 1%;">
              <div class="col-sm-12 col-lg-12" style=" margin-top:4%"> <b> Plumbing Service :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4px;">
                <input name="plumbingService" type="tel" id="plumbingService" class="form-control" value="<%= contact.plumbingService %>" autofocus>
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Pharmacy :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4px ">
                <input name="medicineShop" type="tel" id="medicineShop" class="form-control" value="<%= contact.medicineShop %>">
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Doctor :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:6px ">
                <input name="doctor" type="tel" id="doctor" class="form-control" value="<%= contact.doctor %>">
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Ambulance :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4px ">
                <input name="ambulance" type="tel" id="ambulance" class="form-control" value="<%= contact.ambulance %>"> 
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Fire Station :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:6px ">
                <input name="fireStation" type="tel" id="fireStation" class="form-control" value="<%= contact.fireStation %>">
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Police Station :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:6px ">
                <input name="policeStation" type="tel" id="policeStation" class="form-control" value="<%= contact.policeStation %>">
              </div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:4% "> <b> Guard :</b></div>
              <div class="col-sm-12 col-lg-12" style=" margin-top:6px ">
                <input name="guard" type="tel" id="guard" class="form-control" value="<%= contact.guard %>">
              </div>
            </div>
            <div style=" margin-top: 4%;">
              <button type="submit" class="btn btn-primary btn-md  float-right" style="margin: 10px;">Save</button>
              <a href="/contacts" class="btn btn-danger btn-md float-right" style="margin: 10px;">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>