<!-- View complaint -->
<%- include('partials/header') %>

<div class="container container-profile">
  <div class="row">
    <div class="col">
      <div class="card card-profile my-5">
        <div class="card-body" style="padding:8% 8% 3%;">
          <div>
          <% complaints.reverse().forEach(function(complaint){ %>
            <i class="fas fa-plus-circle"></i> <b><%= complaint.category %></b>
            <p style="padding-left: 20px; color: grey;"><%= complaint.date %> - <%= complaint.type %></p>
            <p style="padding-left: 20px"><%= complaint.description %></p>
            <hr class="my-4">
          <% }) %>
          </div>
        </div>
      </div>
    </div>
    <row>
      <col-4>
          <a href="/complaint" class="btn btn-danger btn-md text-uppercase center" style="border-radius:3rem; max-width:180px; margin:25px 0 25px">
            Raise Complaint
          </a>
      </col-4>
    </row>
  </div>    
</div>

<%- include('partials/footer') %>