<!-- View all complaints ~admin -->
<%- include('partials/header') %>

<div class="container container-profile">
  <div class="row">
    <% users.forEach(function(user){ %>
      <% if(user.complaints.length){ %>
      <div class="col">
        <div class="card card-profile my-5" style="margin-top: 10px;">
          <div class="card-body" style="padding:3% 8% 3%;">
            <div>
              <i class="fas fa-plus-circle"></i> <b><%= user.complaints.slice(-1)[0].category %></b>
              <p style="padding-left: 20px; color: grey;">
                <%= user.complaints.slice(-1)[0].date %> - <%= user.complaints.slice(-1)[0].type %><br>
                Raised by <%=user.firstName%> <%=user.lastName%>
              </p>
              <p style="padding-left: 20px"><%= user.complaints.slice(-1)[0].description %></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    <% }) %>
    <row>
      <col-4>
          <a href="/complaint" class="btn btn-danger btn-md text-uppercase center" style="border-radius:3rem; max-width:180px; margin:25px 0 25px">
            Raise Complaint
          </a>
      </col-4>
    </row>
  </div>    
</div>

<%- include('partials/footer') %>